<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Icon</title>
</head>
<body>
    <img src="<%= filename %>" alt="<%= alt %>">
    <p></p><a href="/public/index.html">目次に戻る</a></p>
</body>
</html>