<!Doctype html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <title>Show message</title>
</head>
<body>
  <h2>Message</h2>
  <p>挨拶1：<%= greet1 %></p>
  <p>挨拶2：<%= greet2 %></p>
  <p></p><a href="/public/index.html">目次に戻る</a></p>
</body>
</html>