<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>じゃんけん</title>
</head>
<body>
    <form action="/bj" method="get"> 
        <input type="radio" name="radio" id="radio1" value="1">
        <label for="radio1">ドロー</label>
        <br>
        <input type="radio" name="radio" id="radio2" value="2">
        <label for="radio2">スタンド</label>
        <br>
        <input type="hidden" name="win" value="<%= win %>">
        <input type="hidden" name="total" value="<%= total %>">
        <!--フォームの情報を表示しないけど保持してね-->
        <input type="submit" values="Ready">
</body>
</html>