.big{
    font-size: 20px;
    border-bottom: solid 2px rgb(72, 142, 255);
}

#buy {
    /* margin-left: 45px; */
    color: rgb(255, 45, 115);
    background-color: rgb(241, 241, 241);
    border-radius: 25px;
    border-width: 1px;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 1px;
    padding-left: 10px;
    letter-spacing: 0.2em;
}

#want {
    font-size: 20px;
    color: rgb(115, 255, 68);
    background-color: rgb(75, 80, 97);
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 0.5cm;
    margin-right: 0.5cm;
}

#ji {
    /* border: 2px solid aqua; */
    /* border-radius: 15px; */
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 10px;
    padding-bottom: 30px;
    text-align: center;
    margin-bottom: 1cm;
    background-color: rgb(178, 53, 94);
    width: 8cm;
    height: 7.5cm;
}

#wantbuy {
    color: rgb(50, 0, 0);
    font-size: 25px;
    text-shadow: 1px 1px 2px rgb(205, 185, 197);
}

#luck {
    background-color: rgb(96, 91, 108);
    font-size: 20px;
    color: rgb(238, 255, 0);
    margin-left: 2cm;
    margin-right: 2cm;
    padding-left: 6px;
    letter-spacing: 0.4em;
    
}

#kazari {
    background-color: rgb(181, 181, 181);
    color: rgb(121, 157, 188);
    margin-left: 2cm;
    margin-right: 2cm;
    font-size: 25px;
}

#kazari2 {
    background-color: rgb(149, 141, 141);
    margin-top: 20px;
}

#kazari3 {
    margin-right: 1cm;
    background-color: rgb(37, 37, 37);

}

#nedan {
    margin-left: 10px;
    margin-top: 5px;
}

#nedankeisan {
    background-color: rgb(217, 255, 242);
    width: 14cm;
}


/* クラスに対して指定するときは「.class」，idに対して指定するときは「#id」 */
/*classは共通要素，複数使うときなどに
    idはユニークな要素,一個しかないようなものに*/
    /* パディングは中の余白，マージンは外の余白 */