.big{
    color: rgb(255, 71, 71);
    font-size: 20px;
}

#buy {
    /* margin-left: 45px; */
    color: rgb(255, 45, 115);
    background-color: rgb(245, 245, 245);
    border-radius: 25px;
    border-width: 1px;

}

#want {
    font-size: 25;
    color: rgb(249, 255, 68);
    background-color: rgb(75, 80, 97);
}

#ji {
    /* border: 2px solid aqua; */
    /* border-radius: 15px; */
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    background-color: rgb(206, 119, 205);
    border-collapse:collapse;
    width: 8cm;

}

#wantbuy {
    color: aquamarine;
    font-size: 25px;
}


/* クラスに対して指定するときは「.class」，idに対して指定するときは「#id」 */
/*classは共通要素，複数使うときなどに
    idはユニークな要素,一個しかないようなものに*/